/*******************************************************************************
 * BackGround                                                                  *
 ******************************************************************************/
.background {
	-fx-background-color: #008080;
}


/*******************************************************************************
 * Buttons                                                                     *
 ******************************************************************************/
.button {
	-fx-text-fill: yellow;
	-fx-background-color: #008080;
	-fx-background-radius: 0;
	/*      -fx-padding: 5 22 5 22;         */
	-fx-border-color: #00ffff;
	-fx-border-width: 1;
	-fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.big_button {
    -fx-font-size: 34pt;
}

.button:hover {
	-fx-background-color: #004040;
	-fx-text-fill: white;
}

/*.button:focused*/
/*{*/
    /*-fx-background-color: #00a0a0;*/
    /*-fx-text-fill: red;*/
    /*-fx-border-color: white, white;*/
    /*-fx-border-width: 1, 1;*/
    /*-fx-border-style: solid, segments(2, 2);*/
    /*-fx-border-radius: 0, 0;*/
    /*!*      -fx-border-insets: 1 1 1 1, 0;  *!*/
/*}*/

/*******************************************************************************
 * Labels                                                                      *
 ******************************************************************************/
.label {
    -fx-text-fill: white;
}

.label2 {
    -fx-text-fill: yellow;
}

.label3 {
    -fx-background-color: #ff0000;
    -fx-text-fill: #000000;
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
}
